<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <% include partials/head %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/datepicker3.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col -sm-6 mx-auto">
                <div class="card mt-5">
                    <div class="card body">
                        <h1 class="text-venter">
                            <span class="fa fa-user"></span>Login
                        </h1>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input type="text" name="usuario" value="" class="form control">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" value="" class="form control">
                            </div>
                            <input type="submit" class="btn btn-dark btn-lg">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>